body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.textarea {
  text-align: center;
}
.msg-label {
    display: flex;
    flex-direction: column;
}
